homeassistant/www/community/**
homeassistant/tmp/**
homeassistant_old/**
homeassistant/custom_components/**
*.pyc
**/.vscode/**
*.gz
homeassistant/.storage/**
homeassistant/.cloud/**
homeassistant/image/**
homeassistant/home-assistant_v2.db
*.mp3
**/bwalarm_log.json
homeassistant/home-assistant.log
