homeassistant/www/community/**
homeassistant/tmp/**
homeassistant_old/**
*.pyc
**/.vscode/**
*.gz
homeassistant/.cloud/**
homeassistant/image/**
homeassistant/home-assistant_v2.db*
*.mp3
**/bwalarm_log.json
homeassistant/home-assistant.log
