.ios.conf
.HA_VERSION
.cloud/
.ring_cache.pickle
.storage/
.uuid
.pip_progress
automations.yaml.save
deps/
home-assistant.log
home-assistant_v2.db*
secrets.yaml
core
**/__pycache__/**
/data/log
/data/*.db
/data/state.json
alexa_media*pickle
tts/*
custom_components/