[Unit]
Description=My HASS Services
Requires=docker.service
After=docker.service

[Service]
ExecStart=/home/pi/ha/homeassistant/service start
ExecStop=/home/pi/ha/homeassistant/service stop
RemainAfterExit=yes

[Install]
WantedBy=default.target